body{
  background: #ff0060;
}
a{
  text-decoration: none;
  color: black;
}
h1,h2,h3,h3,h4,h5,h6{
  font-family: 'Oswald',Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.1;
}
.titulo{
    font-size: 63px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
p{
  color: #fff;
  margin: 0 0 12.5px;
}
.contenedor{
  width: 90%;
  margin-left: 5%;
  text-align: center;
}
.subtitulos{
  font-size: 27px;
  padding: 4px;
  text-align: start;
}
.card{
  background-color: white;
  padding: 40px;
  margin-bottom: 25px;
}
.contenido-sobre-mi{
  display: flex;
}
.contenido-p{
  color:#555;
  width: 80%;
  margin-left: 10%;
}
.imagen-perfil{
  width: 300px;
  height: 300px;
}
.experiencia{
  display: flex;
}
.separacion{
  background-color: greenyellow;
}
.tamanio-experiencia{
  width: 50%;
}
.idiomas{
  display: flex;
  justify-content: space-evenly;
}
.educacion{
  display: flex;
  justify-content: space-evenly;
}
.proyectos{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.imagen-captura{
  width: 300px;
  height: auto;
}
.separacionA{
  margin-left: 10px;
}
.redes{
  margin-bottom: 20px;
}
.input{
  width: 90%;
  background-color: #eee;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 43px;
  padding: 8px 16px;
  margin-bottom: 10px;
  cursor: text;
  font-family: inherit;
  font-size: 20px;
  outline: none;
}
.formulario{
  width: 100%;
}
.mensaje{
  width: 90%;
  background-color: #eee;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 20px;
  outline: none;
}
.enviar{
  color: #fff;
  background-color: #ff0060;
  border-color: #ff0060;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.58;
  border-radius: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 10px;
}
.imagen-tecnologia{
  width: 150px;
  height: auto;
  margin-right: 10px;
}
@media (max-width: 500px) { 

  .contenido-sobre-mi{
    display: block;
  }
  .imagen-perfil{
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  .experiencia{
    display: block;
  }
 }